LISTEN_ADDR=:443
TARGET_UPSTREAM=127.0.0.1:8443
FALLBACK_UPSTREAM=127.0.0.1:9444
TARGET_HOSTS=sl.eduwav.com,sl.yumzyy.com,sl.radiofyy.com
HUTCH_EXTENSION=17516
MSISDN_TLV=0xe0
STATUS_TLV=0xe1
TRACE=1
